@{
    ViewData["Title"] = "Home Page";
    var userId = Context.Session.GetInt32("Id");
    var username= Context.Session.GetString("Username");
}

<div class="text-center">
    <h1 class="display-4">Welcome: @username</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Home" asp-action="CreateChatbot"> Crear chatbot </a>
</div>
